.first{
    background-color:rgb(15, 19, 61);
    height:auto;
    color: white;
    padding: 10px;
}
.second{
    height:auto;
    color: white;
}
.fline1{
    text-align: center;
    line-height: auto;
    font-size:40px;
    font-family:ubuntu;
}
.fline2{
    text-align: center;
    font-family: ubuntu;
}
.fline3{
    text-align: center;
    font-family: ubuntu;
    font-size: 12px;
}
.bg-linkpg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1048%26quot%3b)' fill='none'%3e%3cpath d='M200.51938634349054 523.4834424195568L286.66519576305575 492.12893198406596 196.56052540003688 378.5874730724636z' fill='rgba(12%2c 5%2c 187%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M475.043%2c125.391C505.474%2c124.272%2c534.58%2c112.442%2c551.063%2c86.837C569.054%2c58.888%2c576.183%2c22.935%2c559.506%2c-5.817C542.874%2c-34.491%2c508.188%2c-44.665%2c475.043%2c-44.222C442.789%2c-43.791%2c411.605%2c-30.898%2c394.406%2c-3.609C376.008%2c25.584%2c370.392%2c63.546%2c388.683%2c92.807C406.163%2c120.77%2c442.088%2c126.603%2c475.043%2c125.391' fill='rgba(12%2c 5%2c 187%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M635.28%2c194.557C650.603%2c194.123%2c659.862%2c179.473%2c667.433%2c166.144C674.874%2c153.045%2c681.859%2c138.062%2c674.985%2c124.657C667.646%2c110.346%2c651.355%2c102.925%2c635.28%2c103.443C620.049%2c103.934%2c607.109%2c113.724%2c599.776%2c127.083C592.732%2c139.916%2c592.995%2c155.104%2c599.812%2c168.059C607.177%2c182.056%2c619.469%2c195.005%2c635.28%2c194.557' fill='rgba(12%2c 5%2c 187%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1236.048%2c408.74C1256.072%2c409.975%2c1278.412%2c404.621%2c1287.77%2c386.875C1296.764%2c369.819%2c1285.192%2c350.903%2c1275.264%2c334.373C1265.763%2c318.554%2c1254.452%2c302.106%2c1236.048%2c300.76C1215.608%2c299.265%2c1194.906%2c309.618%2c1185.459%2c327.806C1176.56%2c344.938%2c1184.078%2c364.741%2c1194.31%2c381.111C1203.789%2c396.275%2c1218.199%2c407.639%2c1236.048%2c408.74' fill='rgba(12%2c 5%2c 187%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M116.67497259790792 375.4985580971168L50.62069395732625 211.5588273880546-46.61209518048378 331.6313222163085z' fill='rgba(12%2c 5%2c 187%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1048'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    z-index: -1;
}
